.detailed_page_section{
    width: 100%;
    height: 90vh;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
}

.green_section{
    width: 50%;
    height: 100%;
    background-color: green;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
}

.box{
    width: 80%;
    height: 80%;
    display: flex;
    margin: 0 auto;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.paragraph_section{
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 20%;
    flex-direction: column;
    /* background-color: red;  */
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: white;
    /* height: 30%; */
}

.paragraph_section p{
    font-size: bold;
    font-weight: 600;
    line-height: 2.2;
}

.box img{
    width: 80%;
    height: 100%;
}

.White_section{
    width: 50%;
    height: 50vh;
    background-color:white;
    
}

